<link href="../public/css/home.css" rel="stylesheet" type="text/css" />
<section id="center">
    <div id="info">
      <h1 id="dificuldade"></h1>
      <div id="infoCertos">
        <div id="green"></div>
        <div id="quantia-green"></div>
      </div>
    </div>
    <div id="area">

    </div>
    <!--<div id="area">
      <div id="cubin">
        
      </div>
      <div id='cubin2'>

      </div>
    
    </div>-->
</section>
    <script src="../public/js/home.js"></script>