       body {
        margin: 0;
        background-image: linear-gradient(to right, gray, black);
       }
       #tabela {
         height: 100vh;
         width: 300px;
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
       }
       #tabela button {
         height: 100px;
         width: 300px;
         border-radius: 10px;
         cursor: pointer;
         transition: all 0.5s ease;
         border: 0;
         font-size: 30px;
       }
       #tabela button:hover {
        scale: 1.2;
        background-color: rgb(93, 101, 107)
       }
       #reiniciar {
        margin-top: 10px;
        background:linear-gradient(to right, blue, rgb(118, 118, 196));
      }
      #reiniciar:hover {
        scale: 1.2;
        background:linear-gradient(to left, blue, rgb(118, 118, 196));
      }
       #center {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      }
      #info {
        background: rgba(88, 194, 159, 0.616);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        color: white;
        height: 100px;
        width: 200px;
        margin-top: 30px;
      }
      #infoCertos {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #green {
        height: 15px;
        width: 15px;
        background: greenyellow;
        margin-right: 10px
      }
      #area {
         margin-top: 20px;
      }
      #facil {
        width: 300px;
        height: 300px;
        flex-wrap: wrap;
        border: solid 2px white;
        display: flex;
      }
      #normal {
        width: 400px;
        height: 400px;
        flex-wrap: wrap;
        border: solid 2px white;
        display: flex;
      }
      #dificil {
        width: 500px;
        height: 500px;
        flex-wrap: wrap;
        border: solid 2px white;
        display: flex;
      }